<% layout('layouts/boilerplate')%>


<% if (products) { %> 
<div class="align-items center" id="table">
    <h3 class="mt-5 text-center" id="headerCart">Your Cart</h3>
    <table class="table mt-5 text-center" >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <% let rowNumber = 1 %> 
                <% for (let product of products) { %> 
                    <tr>
                        <th scope="row"><%=rowNumber %></th>
                            <td><%=product.item.name%></td>
                            <td><%=product.qty %></td>
                            <td>$<%=product.price%></td>
                            <td><a href="/remove/<%=product.item._id%>" class="btn btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                                viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg></a></td>
                    </tr>
                    <% rowNumber++ %> 
                <% } %> 
        </tbody>
    </table>
    <h4 class="d-flex justify-content-center mt-5">Total: $<%=totalPrice %></h4>
    <div class="d-flex justify-content-center mt-3">
        <a href="/checkout" class="btn btn-md text-center" id="checkoutBtn">Checkout <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check-fill"
            viewBox="0 0 16 16">
            <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z" />
        </svg></a>
    </div>
</div>
<% } %> 



    <!-- <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm=offset-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">2</span>
                    <strong>Title</strong>
                    <span class="label label-success">$12</span>
                    <div class="btn-group">
                        <button class="btn btn-xs dropdown-toggle" type="button">Action <span
                                class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="">Reduce by 1</a></li>
                            <li><a href="">Remove All</a></li>

                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm=offset-3">
        <h2>No items in cart</h2>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm=offset-3">
            <button class="btn" type="button">Checkout</button>
        </div>
    </div> -->